@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.input {
  @apply w-full mt-1 px-3 py-2 
         border border-gray-300 
         rounded-md 
         bg-white 
         text-black
         placeholder:text-gray-500
         outline-none 
         focus:ring-2 focus:ring-blue-500 
         focus:border-blue-500 
         transition;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
